<div class="panel panel-default">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-3"></div>
    <div class="col-sm-4">
      <h2>Add TsInfo</h2>
    </div>
  </div>
  <div>



    <div class="col-md-7 offset-md-3">
      <span class="anchor" id="formComplex"></span>
      <div class="my-5"></div>
      <h3>TsInfo Details </h3>
      <!-- form complex example -->
      <form [formGroup]="tsInfoForm">
        <div class="form-row mt-4">
          <div class="col-sm-6 pb-3">
            <label for="exampleFirst">Tittle</label>
            <input type="text" class="form-control" formControlName="info">
            <validation-messages [control]="tsInfoForm.controls.info"></validation-messages>
          </div>
          <div class="col-sm-6 pb-3">
            <label for="exampleLast">Icon</label>
            <input type="text" class="form-control" formControlName="icon">
            <validation-messages [control]="tsInfoForm.controls.icon"></validation-messages>
          </div>
          <div class="col-sm-12 pb-3">
            <angular-editor formControlName="details" [config]="editorConfig"></angular-editor>
            <validation-messages [control]="tsInfoForm.controls.details"></validation-messages>
          </div>
          <div class="col-sm-6 pb-3">
            <a href="javascript:void(0);" [routerLink]="['/admin/tsinfos']" class="btn btn-primary">
              <i class="fa fa-chevron-left"></i> Back</a>
          </div>
          <div class="col-sm-6 pb-3">
            <div class="btn-group pull-right">
              <span></span>
              <button class="btn btn-primary " [disabled]="tsInfoForm.invalid" (click)="submit()">Save</button>
              <button class="btn btn-secondary " *ngIf="tsInfoForm.value._id" (click)="delete()">Delete</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- </main> -->

  </div>
</div>
