<body id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav" style="padding-top:0px;pading-bottom:0px">
      <div class="container">
          <a class="navbar-brand" href="#page-top">
            <img src="../../../../assets/img/logo.png?width=550" width="35%" class="img_logo" alt="Logo">
          </a>
          <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio">Đào Tạo</a></li>
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">Về Chúng Tôi</a></li>
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact">Liên Hệ</a></li>
              </ul>
          </div>
      </div>
  </nav>
  <!-- Masthead-->
  <header class="masthead bg-primary text-white text-center" style="margin-top: 59px;">
    
      <!-- <div class="container d-flex align-items-center flex-column">
          <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="..." />
          <h1 class="masthead-heading text-uppercase mb-0">Start Bootstrap</h1>
          <div class="divider-custom divider-light">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
      </div> -->
      <carousel>
        <slide>
          <img src="../../../../assets/img/slider_1.jpg" alt="first slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </slide>
        <slide>
          <img src="../../../../assets/img/slider_2.jpg" alt="second slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </slide>
        <slide>
          <img src="../../../../assets/img/slider_1.jpg" alt="third slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </slide>
      </carousel>
      
  </header>
  <!-- Portfolio Section-->
  <section class="page-section portfolio" id="portfolio">
      <div class="container">
          <!-- Portfolio Section Heading-->
          <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Đào Tạo</h2>
          <!-- Icon Divider-->
          <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <!-- Portfolio Grid Items-->
          <div class="row justify-content-center">
              <!-- Portfolio Item 1-->
              <div class="col-md-6 col-lg-4 mb-5" *ngFor="let item of daotaoList">
                  <div class="portfolio-item mx-auto" (click)="openModal(template,item._id)">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white">{{item.info}}</div>
                      </div>
                      <img class="img-fluid" src="assets/img/portfolio/{{item.icon}}" alt="..." />
                  </div>
              </div>
              <!-- Portfolio Item 2-->
              <!-- <div class="col-md-6 col-lg-4 mb-5">
                  <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white">Đại Học</div>
                      </div>
                      <img class="img-fluid" src="assets/img/portfolio/cake.png" alt="..." />
                  </div>
              </div> -->
              <!-- Portfolio Item 3-->
              <!-- <div class="col-md-6 col-lg-4 mb-5">
                  <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white">Thạc Sỹ</div>
                      </div>
                      <img class="img-fluid" src="assets/img/portfolio/circus.png" alt="..." />
                  </div>
              </div> -->
              <!-- Portfolio Item 4-->
              <!-- <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                  <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white">Liên Kết Quốc Tế</div>
                      </div>
                      <img class="img-fluid" src="assets/img/portfolio/game.png" alt="..." />
                  </div>
              </div> -->
              <!-- Portfolio Item 5-->
              <!-- <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                  <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white">Trung Học Phổ Thông</div>
                      </div>
                      <img class="img-fluid" src="assets/img/portfolio/safe.png" alt="..." />
                  </div>
              </div> -->
              <!-- Portfolio Item 6-->
              <!-- <div class="col-md-6 col-lg-4">
                  <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                      <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                          <div class="portfolio-item-caption-content text-center text-white">Khác</div>
                      </div>
                      <img class="img-fluid" src="assets/img/portfolio/submarine.png" alt="..." />
                  </div>
              </div> -->
          </div>
      </div>
  </section>
  <!-- About Section-->
  <section class="page-section bg-primary text-white mb-0" id="about">
      <div class="container">
          <!-- About Section Heading-->
          <h2 class="page-section-heading text-center text-uppercase text-white">Về Chúng Tôi</h2>
          <!-- Icon Divider-->
          <div class="divider-custom divider-light">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <!-- About Section Content-->
          <div class="row">
              <div class="col-lg-4 ms-auto"><p class="lead">Trường Đại học Công nghiệp Thực phẩm Thành phố Hồ Chí Minh (tiếng Anh: Ho Chi Minh City University of Food Industry) là một là một đơn vị giáo dục trực thuộc Bộ Công Thương, đào tạo đa ngành, đa lĩnh vực, đa cấp độ chuyên đào tạo về các nhóm ngành kỹ thuật, có thế mạnh trong lĩnh vực khoa học và công nghệ thực phẩm, được thành lập ngày 9 tháng 9 năm 1982 </p></div>
              <div class="col-lg-4 me-auto"><p class="lead">Trường Đại học Công nghiệp Thực phẩm Thành phố Hồ Chí Minh là một cơ sở giáo dục đại học công lập đa ngành các ngành. Hàng năm, trường có khả năng đào tạo trên 14.000 học sinh – Sinh viên. Trường có 28 ngành đào tạo trình độ đại học</p></div>
          </div>
      </div>
  </section>
  <!-- Contact Section-->
  <section class="page-section" id="contact">
      <div class="container">
          <!-- Contact Section Heading-->
          <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Liên Hệ Với Chúng Tôi</h2>
          <!-- Icon Divider-->
          <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <!-- Contact Section Form-->
          <div class="row justify-content-center">
              <div class="col-lg-8 col-xl-7">
                  <form [formGroup]="contactForm" (ngSubmit)="send()">
                    <div class="form-floating">
                        <input class="form-control" formControlName="firstName" type="text" placeholder="Enter your First Name..." />
                        <label for="inputName">First Name</label>
                    </div>
                      <div class="form-floating">
                          <input class="form-control" formControlName="lastName" type="text" placeholder="Enter your Last Name..." />
                          <label for="inputName">Last Name</label>
                      </div>
                      <div class="form-floating">
                          <input class="form-control" formControlName="email" type="email" placeholder="Enter your Email..." />
                          <label for="inputEmail">Email address</label>
                      </div>
                      <div class="form-floating">
                          <input class="form-control" formControlName="mobile" type="tel" placeholder="Enter your Phone Number..." />
                          <label for="inputPhone">Phone Number</label>
                      </div>
                      <div class="form-floating">
                          <textarea class="form-control" formControlName="messages" placeholder="Enter your message here..." style="height: 12rem"></textarea>
                          <label for="inputMessage">Message</label>
                      </div>
                      <br />
                      <button class="btn btn-primary btn-xl" type="submit">Send</button>
                  </form>
              </div>
          </div>
      </div>
  </section>
  <!-- Footer-->
  <footer class="footer text-center">
      <div class="container">
          <div class="row">
              <!-- Footer Location-->
              <div class="col-lg-4 mb-5 mb-lg-0">
                  <h4 class="text-uppercase mb-4">Địa Điểm</h4>
                  <p class="lead mb-0">
                    Đơn vị: HUFI - Chuyên trang Tuyển sinh
                      <br />
                      Địa chỉ: 140 Lê Trọng Tấn, P.Tây Thạnh, Q.Tân Phú, TP.HCM
                      <br/>
                      Điện Thoại: (028) 6270 6275
                      <br/>
                      Email: tttstt@hufi.edu.vn
                  </p>
              </div>
              <!-- Footer Social Icons-->
              <div class="col-lg-4 mb-5 mb-lg-0">
                  <h4 class="text-uppercase mb-4">Kết Nối Với Chúng Tôi</h4>
                  <a class="btn btn-outline-light btn-social mx-1" href="https://www.youtube.com/hufimedia"><i class="fab fa-youtube"></i></a>
                  <a class="btn btn-outline-light btn-social mx-1" href="https://ts.hufi.edu.vn/"><i class="fab fa-facebook"></i></a>
                  <a class="btn btn-outline-light btn-social mx-1" href="https://vt.tiktok.com/ZSJNKjowo"><i class="fab fa-tiktok"></i></a>
              </div>
              <!-- Footer About Text-->
              <!-- <div class="col-lg-4">
                  <h4 class="text-uppercase mb-4">About Freelancer</h4>
                  <p class="lead mb-0">
                      Freelance is a free to use, MIT licensed Bootstrap theme created by
                      <a href="http://startbootstrap.com">Start Bootstrap</a>
                      .
                  </p>
              </div> -->
          </div>
      </div>
  </footer>
  <!-- Copyright Section-->
  <div class="copyright py-4 text-center text-white">
      <div class="container"><small>Copyright &copy; Your Website 2021</small></div>
  </div>
  <ng-template #template>
    <div class="modal-header" *ngIf="selectedModel && selectedModel!=-1">
      <h4 class="modal-title pull-left">{{selectedModel.info}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" [innerHTML]="selectedModel.details">
    </div>
  </ng-template>

</body>