<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand" href="#">Contact Management &nbsp;</a>
  <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
    <!-- <span class="navbar-toggler-icon"></span> -->
    <i class="fa fa-bars text-muted" aria-hidden="true"></i>
  </button>
  <div class="collapse navbar-collapse">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" />
    </form>

    <ul class="navbar-nav ml-auto">
      &nbsp;
      <li class="nav-item dropdown" dropdown>
        <a href="javascript:void(0)" id="basic-link" class="nav-link dropdown-toggle" dropdownToggle>
          <i class="fa fa-user"></i> {{ user?.firstName }} {{ user?.lastName }} <b class="caret"></b>
        </a>
        <div id="basic-link-dropdown" class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/admin/profile']" routerLinkActive="router-link-active">
            <i class="fa fa-fw fa-user"></i> Profile
          </a>
          <a href="javascript:void(0);" class="dropdown-item" (click)="onLoggedout()"> <i class="fa fa-fw fa-power-off"></i>Log
            Out </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
