<div class="panel panel-default">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-3"></div>
    <div class="col-sm-4">
      <h2>Contact Details</h2>
    </div>
  </div>
  <div>
    <div class="col-md-7 offset-md-3">
      <span class="anchor" id="formComplex"></span>
      <div class="my-5"></div>
      <h3>Details </h3>
      <!-- form complex example -->
      <form>
        <div class="form-row mt-4">
          <div class="col-sm-6 pb-3">
            <label for="exampleFirst">First Name:</label>
            <span>{{contact.firstName}}</span>
          </div>
          <div class="col-sm-6 pb-3">
            <label for="exampleLast">Last Name:</label>
            <span>{{contact.lastName}}</span>
          </div>
          <div class="col-sm-6 pb-3">
            <label for="exampleAccount">Email:</label>
            <span>{{contact.email}}</span>
          </div>
          <div class="col-sm-6 pb-3">
            <label for="exampleCtrl">Mobile:</label>
            <span>{{contact.mobile}}</span>
          </div>
          <div class="col-sm-6 pb-3">
            <label for="exampleZip">is Called:</label>
            <span><input type="checkbox" [checked]="contact.isCalled" disabled></span>
          </div>
          <div class="col-sm-12 pb-3">
            <label for="exampleZip">Messages:</label>
            <span style="overflow-wrap: break-word;">{{contact.messages}}</span>
          </div>
          <div class="col-sm-6 pb-3">
            <a href="javascript:void(0);" [routerLink]="['/admin/contacts']" class="btn btn-primary">
              <i class="fa fa-chevron-left"></i> Back</a>
          </div>
          <div class="col-sm-6 pb-3">
            <div class="btn-group pull-right">
              <span></span>
              <button class="btn btn-primary " (click)="edit()">Edit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- </main> -->

  </div>
</div>
