<div class="panel panel-default">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-3"></div>
    <div class="col-sm-4">
      <h2>TsInfo Details</h2>
    </div>
  </div>
  <div>
    <div class="col-md-12">
      <span class="anchor" id="formComplex"></span>
      <div class="my-5"></div>
      <h3>Details </h3>
      <!-- form complex example -->
      <form>
        <div class="form-row mt-4">
          <div class="col-sm-6 pb-3">
            <label for="exampleFirst"><strong>Tittle</strong>: </label>
            <span>{{tsInfo.info}}</span>
          </div>
          <div class="col-sm-6 pb-3">
            <label for="exampleLast"><strong>Icon</strong>: </label>
            <span>{{tsInfo.icon}}</span>
          </div>
          <div class="col-sm-6 pb-3">
            <label for="exampleLast"><strong>Content</strong> </label>
          </div>
          <div [innerHTML]="tsInfo.details" style="border:2px solid black; padding:12px">
          </div>
          <div class="col-sm-6 pb-3">
            <a href="javascript:void(0);" [routerLink]="['/admin/tsinfos']" class="btn btn-primary">
              <i class="fa fa-chevron-left"></i> Back</a>
          </div>
          <div class="col-sm-6 pb-3">
            <div class="btn-group pull-right">
              <span></span>
              <button class="btn btn-primary " (click)="edit()">Edit</button>
              <button class="btn btn-secondary " *ngIf="tsInfo._id" (click)="delete()">Delete</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- </main> -->

  </div>
</div>
